  
<!-- /.content-wrapper -->
<footer class="main-footer">
   <span>Copyright &copy; 2021 <a href="#">Mike Dang</a>.</span>
   All rights reserved.
   <div class="float-right d-none d-sm-inline-block">
     <span>Version</span> 1.0.0
   </div>
 </footer>

 <!-- Control Sidebar -->
 <aside class="control-sidebar control-sidebar-dark">
   <!-- Control sidebar content goes here -->
 </aside>
 <!-- /.control-sidebar -->