<!-- Header Area -->
<header class="main_header_area" id="header">
    <div class="container">
        <div class="header_menu">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index-2.html"><img src="/assets/images/logo.png" alt=""></a>
                <!-- Small Divice Menu-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported" aria-expanded="false" aria-label="Toggle navigation"> 
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse navbar_supported">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-2.html" class="active">Home Version 1</a></li>
                                <li><a href="index-3.html">Home Version 2</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="about.html">About us</a></li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">BLog</a>
                            <ul class="dropdown-menu">
                                <li><a href="news.html">News v1</a></li>
                                <li><a href="news-2.html">News v2</a></li>
                                <li><a href="news-3.html">News v3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-details.html">Shop Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Page</a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="#" role="button">Sub Menu</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="error.html">Error (404)</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="contact.html">Contact us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- Header Area -->