<!-- Header Top Area -->
<div class="header_top_area">
    <div class="container">
        <div class="header_top_inner d-sm-flex justify-content-sm-between">
            <ul class="left_info">
                <li><a routerLink="main">Home</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="error.html">Error 404</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
            <ul class="header_social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-vine"></i></a></li>
                <li><a href="#" class="shop_btn"><i class="flaticon-shopping-bag"></i> <span>0</span></a></li>
                <li><a href="#" class="quote_btn">Get Free Quote <i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Header Top Area -->